{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start">

  <section class="">
    <div class="container text-center text-md-start mt-5 pt-5">
      <div class="row mt-3">
        <div class="col-sm-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <img src={% static 'img/koecheng.png' %} class="logo" alt="">
        </div>

        <div class="col-sm-4 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Modul</h6>
            <ol class="text-reset">
                <li>User</li>
                <li>To-do List</li>
                <li>Notes</li>
                <li>Schedule</li>
                <li>Community Forum</li>
                <li>Anonymous Message</li>
                <li>News</li>
            </ol>
        </div>

        <div class="col-sm-5 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Nama Anggota</h6>
          <ul class="text-reset">
            <li>Zidan Kharisma Adidarma - 2006463881</li>
            <li>Muhammad Fauzul Akbar - 2006473876</li>
            <li>Isyah Auliarahmani Rafifa - 2006464221</li>
            <li>Fathan Muhammad - 2006486090</li>
            <li>Reyza Abyan Gerrit Caloh - 2006463534</li>
            <li>Nasywa Kamila - 2006486885</li>
            <li>Shabrina Taqiyya - 2006464341</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © Tugas UTS PBP:
    <p class="text-reset fw-bold" href="">Kelompok F02</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
