{% load static %}
<div class="flex justify-between items-center bg-gray-300 px-8 md:px-16 lg:px-20 h-32 md:h-36 lg:h-48 w-full">
    <img src={% static 'img/koecheng.png' %} class="hidden md:block h-20 w-20 lg:h-24 lg:w-24 rounded-full" alt="">
    <div class="text-sm">
        Nama Anggota:
        <ol>
            <li>Zidan Kharisma Adidarma - 2006463881</li>
            <li>Muhammad Fauzul Akbar - 2006473876</li>
            <li>Isyah Auliarahmani Rafifa - 2006464221</li>
            <li>Fathan Muhammad - 2006486090</li>
        </ol>
    </div>
</div>
