{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/forum_style.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-2 offset-5 mt-1">
            <h1 class="title">New Post</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-7 offset-3 mt-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <br>
                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Post">
                </div>
            </form>
        </div>
    </div>

{% endblock %}