{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-5 offset-5">
        <h1 style="width: 10ch;">{{ object.title }}</h1>
    </div>


    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title badge bg-secondary rounded">{{ object.author }}</h5>
            <p class="card-text">{{ object.body }}</p>
            {% if object.author == user %}
                <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">delete</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            {{ object.timestamp }}
        </div>
    </div>
    <br>

    {% for comment in comments %}
        <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title badge bg-secondary rounded">{{ comment.author }}</h5>
              <p class="card-text">{{ comment.body }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="row mt-2">
        <div class="col-7">
            <button id="reply-btn" class="btn btn-info" onclick="loadForm()">Reply</button>

            <form id="comment-form" method="POST" style="display: none;">
                <p>Type here:</p>
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <div class="container"> <div class="row mt-1">
                        <div class="col-md-auto"><button id="submit-btn" class="btn btn-info" type="submit">comment</button></div>
                        <div class="col-md-auto"><button id="hide-btn" class="btn btn-outline-secondary" onclick="loadForm()" style="display: none;">hide</button></div>
                    </div></div>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        function loadForm(){
            if (document.getElementById("reply-btn").style.display != "none"){
                document.getElementById("reply-btn").style.display="none";
                document.getElementById("comment-form").style.display="block";
                document.getElementById("hide-btn").style.display="block";
            } else {
                document.getElementById("reply-btn").style.display="block";
                document.getElementById("comment-form").style.display="none";
                document.getElementById("hide-btn").style.display="none";
            }
        }

        document.getElementById("div_id_author").style.display="none"
        document.getElementById("div_id_post").style.display="none"
        document.getElementById("div_id_body").getElementsByTagName('label')[0].style.display="none"
    </script>
{% endblock content %} 