{% extends 'base.html' %}
{% block content %}

    <div class="col-2 offset-5 mt-1">
        <h1 style="width: 10ch;">{{ object.title }}</h1>
    </div>

    {% if request.user.is_authenticated %}
        <div id="topic-add" class="col-2 offset-5">
            <a href="{%url 'post-create' object.id%}">
                <button type="button" class="btn btn-danger">New Post</button>
            </a>
        </div>
    {% endif %}
    <br><br>
    
    <div>
    {% for post in posts %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">{{ post.author }}</div>
            {{ post.title }}
            </div>
            <a href="{% url 'post-detail' post.id%}"><span class="badge bg-primary rounded-pill">open</span></a>
        </li>
    {% endfor %}
    </div>

{% endblock %}