{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ message_user_profile.name }}'s Anonymous Messages </title>
{% endblock meta %}

{% block content %}
<h1>{{ message_user_profile.name }}'s Anonymous Messages</h1>
{% if messages %}
{% for message in messages %}
<div class="card">
    <div class="card-header">
        {{ message.anonymous_question }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ message.anonymous_answer }}</p>
    </div>
</div>
<br>
{% endfor %}
{% endif %}
{% if not other_view %}
<a href={% url 'edit-message' %}><button class="btn btn-primary">Edit</button></a>
{% else %}
<a href={% url 'ask-page' message_user_profile.name %} class='btn btn-warning' id="questionbutton">Ask a Question!</a>
{% endif %}

{% endblock content %}