{% extends "base.html" %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/user/status.css' %}" />
{% endblock custom_css %}
{% block content %}

{% include 'user/profile.html' with dataProfile=dataProfile form=form %}
<div class="pembatas"></div>
{% if form %}
<h2 class="mb-4">Buat Status:</h2>
{% if has_error %}
        <div class="alert alert-danger">
            <p>You haven't entered anything</p>
        </div>
{% endif %}
<div class="">
{% endif %}
<form method="post" action="{% url 'status' %}">
{% csrf_token %}
{% if form %}
<div class="row  mb-4">
<h6 class="col-sm-2 tss">Status</h6>
<div class="col-sm w-100"><input type="text" name="status" maxLength="200" required id="id_status"></div>
<div class="col-sm-4"><input type="submit" class="btn btn-primary" value="Kirim" /></div>
</div>
{% endif %}
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<h1 class="text-2xl font-bold">
{% if form %}
<h1>Status Kamu:</h1>
{% else %}
<h1>Status {{ owner }}</h1>
{% endif %}

{% if data|length > 0 %}
{% for status in data %}
{% include 'user/partials/status_card.html' with datum=status  %}
{% endfor %}
{% else %}
<div class="text-center">
{% if form %}
<h3>Apa yang ada di pikiranmu saat ini?</h3>
<h3>Bagikanlah dengan dunia!</h3>
{% else %}
<h3>Tampaknya, {{ owner }}</h3>
<h3>belum membagikan apapun...</h3>
{% endif %}</div>
{% endif %}
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">
let flag = false
  function reply_click(status_id)
  {
    if(flag) return;
    flag = true
    let data = new FormData();
    data.append('status_id', status_id);
    let midd = $('input[name=csrfmiddlewaretoken]').val();
    data.append('csrfmiddlewaretoken', midd);
    fetch("/user/status/like", {
        method: 'POST',
        body: data,
        credentials: 'same-origin',
    }).then( response => {
        return response.json(); // server returned valid JSON
    }).then( parsed_result => {
        console.log(parsed_result)
        let iconId = ""+status_id
        let likerId = ""+status_id+"_liker"
        let hati_bolong = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16"><path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/></svg>'
        let hati_penuh = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16"><path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/></svg>'
        if(parsed_result['isDislike']){
            document.getElementById(iconId).innerHTML = hati_bolong
        }else{
            document.getElementById(iconId).innerHTML = hati_penuh
        }
        let jumlahLiker = parsed_result['totalCount'] 
        let str = `${jumlahLiker.toString()} people like this`
        if(typeof jumlahLiker == 'null'){
            str = ""
        }
        if(jumlahLiker > 0){
            document.getElementById(likerId).innerText = str
        }else{
            document.getElementById(likerId).innerText = ""
        }
    }).catch((error) => {
        alert("Ada error, cek console!")
        console.error('Error:', error);}).finally(()=>{
            flag = false;
        })
  }
</script>
{% endblock script %}