{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script>
    $(document).ready(function () {
        $("#editmsg").click(function () {
            $.ajax({
                url: "{% static 'answer.html' %}",
                success: function (result) {
                    $(".buttonsection").html(result);
                }
            });
        });
    });
</script>
<title>Anonymous Message</title>
{% endblock meta %}

{% block content %}
<h1>Anonymous Messages</h1>
<div class="card">
    <div class="card-header">
        Questions
    </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos impedit non sequi
            facere, officia ab, atque laudantium temporibus illum vel nihil sunt animi a unde corrupti eum blanditiis
            deleniti rerum!</p>
        <div class="buttonsection">
            <a href="#" class="btn btn-primary" id="editmsg">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}